In [1]:
import pandas as pd

In [2]:
csv_file_path = 'capstone_sample_new_3.csv'

In [3]:
data = pd.read_csv(csv_file_path)

In [4]:
data

,id,name,host_id,host_name,neighbourhood,neighbourhood_group_cleansed,latitude,longitude,room_type,price,minimum_nights,availability_365,number_of_reviews,last_review,calculated_host_listings_count,reviews_per_month,city,state,amenities,property_type
0,241032,Stylish_Queen_Anne_Apartment,956883,Maija,Queen Anne,Queen Anne,47.636289,-122.371025,Entire home/apt,$85.00,1,346,207,02-01-2016,2,4.07,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",Apartment
1,953595,Bright__Airy_Queen_Anne_Apartment,5177328,Andrea,Queen Anne,Queen Anne,47.639123,-122.365667,Entire home/apt,$150.00,2,291,43,29-12-2015,6,1.48,Seattle,WA,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",Apartment
2,3308979,New_Modern_HouseAmazing_water_view,16708587,Jill,Queen Anne,Queen Anne,47.629724,-122.369483,Entire home/apt,$975.00,4,220,20,03-09-2015,2,1.15,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",House
3,7421966,Queen_Anne_Chateau,9851441,Emily,Queen Anne,Queen Anne,47.638473,-122.369279,Entire home/apt,$100.00,1,143,0,NaN,1,NaN,Seattle,WA,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",Apartment
4,278830,Charming_craftsman_3_bdm_house,1452570,Emily,Queen Anne,Queen Anne,47.632918,-122.372471,Entire home/apt,$450.00,1,365,38,24-10-2015,1,0.89,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",House
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3813,8101950,3BR_Mountain_View_House_in_Seattle,31148752,Bo,Fremont,Other neighborhoods,47.664295,-122.359170,Entire home/apt,$359.00,3,32,1,27-09-2015,8,0.30,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",House
3814,8902327,Portage_Bay_ViewOne_Bedroom_Apt,46566046,Glen,Portage Bay,Capitol Hill,47.649552,-122.318309,Entire home/apt,$79.00,2,273,2,24-12-2015,1,2.00,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",Apartment
3815,10267360,Private_apartment_view_of_Lake_WA,52791370,Virginia,NaN,Rainier Valley,47.508453,-122.240607,Entire home/apt,$93.00,1,88,0,NaN,1,NaN,Seattle,WA,"{""Cable TV"",""Wireless Internet"",Kitchen,""Free ...",House
3816,9604740,Amazing_View_with_Modern_Comfort,25522052,Karen,NaN,Capitol Hill,47.632335,-122.275530,Entire home/apt,$99.00,3,179,0,NaN,1,NaN,Seattle,WA,"{TV,""Wireless Internet"",Kitchen,""Free Parking ...",Condominium
3817,10208623,Large_Lakefront_Apartment,14703116,Gil,Queen Anne,Queen Anne,47.641186,-122.342085,Entire home/apt,$87.00,1,7,0,NaN,1,NaN,Seattle,WA,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",Apartment

In [5]:
columns_to_select= ['id', 'name', 'host_id','host_name','neighbourhood','neighbourhood_group_cleansed','latitude','longitude','room_type','price','minimum_nights','availability_365','number_of_reviews','last_review','calculated_host_listings_count','reviews_per_month','city','state','amenities','property_type'
]

In [6]:
selected_columns = data[columns_to_select]

In [7]:
selected_columns = selected_columns.copy()

In [24]:
selected_columns['name'] = selected_columns['name'].str.replace('[^a-zA-Z0-9\s]', '', regex=True)

In [25]:
selected_columns['name'] = selected_columns['name'].str.replace('[^a-zA-Z0-9\s]', '', regex=True).str.replace('\s', '_', regex=True)

In [26]:
selected_columns['host_name'] = selected_columns['host_name'].str.replace(',', '&')

In [8]:
selected_columns['amenities'] = selected_columns['amenities'].str.replace(',', '&')

In [10]:
from datetime import datetime

input_format = "%d-%m-%Y"
selected_columns['last_review'] = pd.to_datetime(selected_columns['last_review'], format=input_format, errors='coerce')

output_format = "%Y-%m-%d"
selected_columns['last_review'] = selected_columns['last_review'].dt.strftime(output_format)

print(selected_columns.head())

        id                                name   host_id host_name  \
0   241032        Stylish_Queen_Anne_Apartment    956883     Maija
1   953595   Bright__Airy_Queen_Anne_Apartment   5177328    Andrea
2  3308979  New_Modern_HouseAmazing_water_view  16708587      Jill
3  7421966                  Queen_Anne_Chateau   9851441     Emily
4   278830      Charming_craftsman_3_bdm_house   1452570     Emily

  neighbourhood neighbourhood_group_cleansed   latitude   longitude  \
0    Queen Anne                   Queen Anne  47.636289 -122.371025
1    Queen Anne                   Queen Anne  47.639123 -122.365667
2    Queen Anne                   Queen Anne  47.629724 -122.369483
3    Queen Anne                   Queen Anne  47.638473 -122.369279
4    Queen Anne                   Queen Anne  47.632918 -122.372471

         room_type    price  minimum_nights  availability_365  \
0  Entire home/apt   $85.00               1               346
1  Entire home/apt  $150.00               2               291
2  Entire home/apt  $975.00               4               220
3  Entire home/apt  $100.00               1               143
4  Entire home/apt  $450.00               1               365

   number_of_reviews last_review  calculated_host_listings_count  \
0                207  2016-01-02                               2
1                 43  2015-12-29                               6
2                 20  2015-09-03                               2
3                  0         NaN                               1
4                 38  2015-10-24                               1

   reviews_per_month     city state  \
0               4.07  Seattle    WA
1               1.48  Seattle    WA
2               1.15  Seattle    WA
3                NaN  Seattle    WA
4               0.89  Seattle    WA

                                           amenities property_type
0  {TV&"Cable TV"&Internet&"Wireless Internet"&"A...     Apartment
1  {TV&Internet&"Wireless Internet"&Kitchen&"Free...     Apartment
2  {TV&"Cable TV"&Internet&"Wireless Internet"&"A...         House
3  {Internet&"Wireless Internet"&Kitchen&"Indoor ...     Apartment
4  {TV&"Cable TV"&Internet&"Wireless Internet"&Ki...         House

In [11]:
selected_columns['name'].head(50)

0           Stylish_Queen_Anne_Apartment
1      Bright__Airy_Queen_Anne_Apartment
2     New_Modern_HouseAmazing_water_view
3                     Queen_Anne_Chateau
4         Charming_craftsman_3_bdm_house
5        Private_unit_in_a_1920s_mansion
6        Queen_Anne_Private_Bed_and_Bath
7      Tiny_Garden_cabin_on_Queen_Anne__
8           Urban_Charm__Downtown__Views
9      Airy__Bright_Queen_Anne_Apartment
10    Private_Apartment__Queen_Anne_Hill
11      Upper_Queen_Anne_Craftsman_House
12     Open_Plan_2bdr1bath_in_Queen_Anne
13       Elegance_in_Historic_Queen_Anne
14    Stunning_6_bd_in_THE_BEST_Location
15        Lovely_Queen_Anne_Cottage_2_BR
16         Park_Life_in_Lower_Queen_Anne
17         Private_Garden_Suite_Bay_View
18       Queen_Anne_Getaway_Near_Seattle
19    Grand_Craftsman_Home_on_Queen_Anne
20           Queen_Anne_View_One_Bedroom
21     Cozy_Queen_Anne_Finished_Basement
22                Lovely_Queen_Anne_home
23     Cozy_Lower_Level_Upper_Queen_Anne
24           Charming_home_on_Queen_Anne
25          VIEWMonthly_Rental_Available
26      Cute_BungalowClose_to_Everything
27       Micro_Gypsy_Wagon_on_Queen_Anne
28          STUNNING_VIEW_of_Puget_Sound
29            Open_Airy_Queen_Anne_Condo
30       Airy__Bright_Queen_Anne_Cottage
31      Queen_Anne_3_bed_near_everything
32      1914_Stunner_View_Ocean_Mountain
33             Seattle_Queen_Anne_Beauty
34       The_Hideaway_Queen_Annedowntown
35          QUEEN_ANNE_VIEW_ONE__SEATTLE
36        URBAN_SANCTUARY_3BR_QUEEN_ANNE
37       Cozy_Homebase_Close_to_Downtown
38      VIEW_QUEEN_ANNE__VINTAGE_SEATTLE
39            Cute_little_Seattle_Studio
40      Walkers_Dream_on_Queen_Anne_Hill
41    DARLING_VINTAGE_COTTAGE_QUEEN_ANNE
42       Modern_EcoFriendly_View_Retreat
43       Beautiful_1_Bedrm_in_Queen_Anne
44               One_bedroom_with_Lounge
45        LOWER_QUEEN_ANNE_STUDIO_WPATIO
46                  Queen_Anne_Craftsman
47      Queen_Anne_Hill_Craftsman_studio
48       Craftsman_House_Near_Everything
49    Seattle_Backyard_CottageQueen_Anne
Name: name, dtype: object

In [12]:
selected_columns['host_name'].head(200)

0       Maija
1      Andrea
2        Jill
3       Emily
4       Emily
        ...
195     Blair
196      Eric
197     Jamie
198     Sarah
199    Andrew
Name: host_name, Length: 200, dtype: object

In [1]:
selected_columns['amenities'].head(200)

NameError: name 'selected_columns' is not defined

In [ ]:
selected_columns.to_csv('capstone_sample_final.csv', index=False)